@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  margin: auto;
}

/* Style for the image wrapper */
.image-wrapper {
  height: 500px;
  overflow: hidden;
  position: relative;
}

/* Style for the cropped image */
.cropped-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Style for the overlay homepage */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the form container homepage */
.form-container {
  width: max-content;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container .form-title {
  display: block;
  font-family: "Aleo", sans-serif; /* Use the Aleo font */
  font-size: 1.7rem; /* Adjust font size as needed */
  margin-bottom: 0.5rem; /* Add margin below the title */
  font-weight: bold;
  color: #4058d4; /* Use purple color */
}

.card {
  border: none;
}

.card-img-top {
  object-fit: cover;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-white {
  background-color: #fff !important;
}

.py-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

/* footer styling */
.custom-footer {
  background-color: #ffa735;
}

/* Style for the admin login link */
.footer-link {
  color: #ffa735;
  transition: color 0.3s ease;
}

/* Change color on hover admin login */
.footer-link:hover {
  color: #4058d4;
}

a .footer .contact-info-item {
  color: white;
}

/* Blog Styling */
.wrapper {
  padding: 20px;
}

.posts {
  align-content: center;
}

.blog-post {
  margin-bottom: 20px;
  align-self: center;
}

.blog-post h2 {
  margin-bottom: 10px;
}

/* Headings */
h1 {
  font-family: "Aleo", sans-serif;
  font-weight: bold;
  color: #4058d4;
}

h2 {
  font-family: "Aleo", sans-serif; /* Use the Aleo font */
  font-size: 1.7rem; /* Adjust font size as needed */
  margin: 0.9rem; /* Add margin below the title */
  font-weight: bold;
  color: #4058d4; /* Use purple color */
}

h3 {
  font-family: "Aleo", sans-serif; /* Use the Aleo font */
  font-size: 1.4rem; /* Adjust font size as needed */
  margin: 0.9rem; /* Add margin below the title */
  font-weight: bold;
  color: #4058d4; /* Use purple color */
}

.navbar {
  background-color: #ffa735;
}

.nav-item {
  font-family: "Chivo", sans-serif; /* Use the Aleo font */
  font-size: 1.3rem; /* Adjust font size as needed */
  color: #4058d4; /* Use purple color */
}

.contact-info-item {
  color: #fff;
  margin: 2px;
}

/* Change color on hover */
.navbar-nav .nav-link:hover {
  color: #4058d4; /* Change to desired hover color */
}

/*Blog post */
.blog_post img {
  width: 100%; /* Ensure the image fills its container */
  height: 300px; /* Set the height to a fixed value */
  object-fit: cover; /* Crop if necessary to cover image area */
}

.blog_post p {
  margin-bottom: 3px; /* Adjust spacing between paragraphs */
}

.image-container {
  height: 200px !important;
  width: 600px !important;
  background-size: cover !important;
  background-position: center !important;
}

/* About Us */
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.team-member img {
  width: 250px;
  height: 350px;
  margin-right: 20px;
}

.team-member p {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.team {
  background-color: #ecc09d27; /* Set the background color */
  width: 100%;
  padding: 10px;
}

.about {
  width: 100%;
  padding: 10px;
}

.search-container {
  width: 60%;
  margin: 0 auto; /* Center the container */
}

/* Google reviews carrousel bottom homepage*/
#googleReviewCarousel {
  height: 400px;
}

.carousel-content {
  text-align: center;
  position: relative;
  height: 300px;
}

.carousel-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 1;
  background: none;
  border: none;
  color: #000;
}

.carousel-item {
  padding: 20px;
}

.carousel-item p {
  margin-bottom: 0;
}
